
.bs-a {
    box-shadow: 0px 0px 20px 3px #00000014;
}
@media only screen and (max-width: 980px) {
    .recipe-item {
        flex-basis:100%;
        width: 100%;
    }
}
@media only screen and (min-width: 980px) {
    .recipe-item {
        flex-basis: calc(calc(100%/3) - 14px);
        width: calc(calc(100%/3) - 14px);
    }
}